.model-component{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 10000;
	.box{
		position: relative;
		margin: 30% auto 0;
		width: 300px;
		background-color: #fff;
		border-radius: 5px;
		text-align: center;
		z-index: 10001;
		.hd {
			position: relative;
			padding-right: 15px;
			padding: 10px 15px;
			text-align: center;
			font-size: 16px;
			line-height: 16px;
			height: 36px;
			i{
				font-size: 16px;
				position: absolute;
				right: 15px;
			}
		}
		.bd{
			padding: 0 15px;
			text-align: center;
			min-height: 50px;
			line-height: 1.5em;
			font-size: 16px;
		}
		.ft{
			text-align: center;
			padding: 10px 15px;
		}
	}
}