// font-size
$font-size-base: 13px;
$font-size-base-sm: 12px;
$font-size-logo: 22px;


//font-color
$color-73879C:#73879C;
$color-ECF0F1:#ECF0F1;
$color-E7E7E7:#E7E7E7;


//background-color
$back-color-2A3F54:#2A3F54;


